<html>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <div
      style='color: #484848;
            font-family: "Roboto", sans-serif;
            background-color: rgb(240, 244, 247);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.1rem;
            text-align: justify;
            position: relative;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            min-width: 70%;'
    >
      <div
        style='height: auto;
            width: 700px;
            border-radius: 20px;
            background: #fff;
            padding: 30px 30px 30px 30px;
            overflow: hidden;
            margin: 20px auto;'
      >
        <div
          style='display: flex;
        justify-content: center;
        margin-bottom: 20px;'
        >
          <img
            style='width: 110px; height: 75px;'
            src='https://recordar.art.br/backend/main-logo.png'
          />
        </div>
        <div
          style='border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        padding-bottom: 10px;'
        ></div>
        <h2>Detalhes do Contato de {{name}}</h2>
        <p><strong>Nome:</strong> {{name}}</p>
        <p><strong>Email:</strong> {{email}}</p>
        <p><strong>Telefone:</strong> {{phoneNumber}}</p>
        <div
          style='margin-top: 20px;
      padding: 10px; padding-left: 0px'
        >
          <p><strong>Mensagem:</strong></p>
          <p>{{message}}</p>
        </div>
      </div>
    </div>
  </body>
</html>